RESEND_API_KEY=
CONTACT_API_URL=http://127.0.0.1:8787
CONTACT_PORT=8787
CONTACT_ALLOWED_ORIGIN=http://127.0.0.1:3000
CONTACT_FROM_EMAIL=AnisConsult <onboarding@resend.dev>
CONTACT_TO_EMAIL=anis.contactme@gmail.com
